<mat-toolbar color="primary" class="navbar">
    <div>
        <a href="http://localhost:4200/" >CodeX</a>
    </div>  
    <div>
           <h3>Hello {{login.username}}</h3>
            <button mat-raised-button (click)="submit()" color="accent" class="c1">Submit</button>
    </div> 
</mat-toolbar>


<!--*************************************************************-->
<div class="c8">
        <div class="quesDisplay">
                <div class="timer">
                    <app-timer></app-timer>
                </div>
                    <mat-divider></mat-divider>
                <div class="quesSet" >
                    <app-question-set (messageevent)="getbutton($event)" [quesno]='noofques'>

                    </app-question-set>
                </div> 
        </div>
        <div class="ques">
               
            <app-student-ques-disp [callsubmitdisp]="callsubmitdisp" (Answerevent)="saveinarray($event)" (indexnext)="increment()" (indexback)="decrement()" [index]="index"  [quesleng]="questionset.length" [currentQuestion]="questionset[index]"></app-student-ques-disp>
            
            
        </div>
        <div>
            <!-- <button mat-raised-button color="warn" (click)='submit()' >Submit</button> -->
        </div>
</div>
<mat-divider [vertical]="true"></mat-divider>


