<app-nav></app-nav>
<br>
this is {{stname}}
and this is passkey {{passkey}}
your score is {{score}}
<br>
<div *ngIf="flag==false;then loading ;else execute ">
  
</div>
<ng-template #loading>Loading...</ng-template>
<ng-template #execute>
<ul>
  <li>
    Question No || Marks
  </li>
  <li *ngFor="let res of result.checkedans;let i=index">
       <div *ngIf="res==true ; then first ;else second"></div>
       <ng-template #first>
        Ques No . {{i}} => {{1}}
       </ng-template>
       <ng-template #second>
        Ques No . {{i}} => {{0}}
       </ng-template>
  </li>
</ul>

</ng-template>

<!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 " >

 
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> Q.No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

 


  <ng-container matColumnDef="marks">
    <th mat-header-cell *matHeaderCellDef> Marks </th>
    <td mat-cell *matCellDef="let element"> {{element.marks}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> -->