<mat-toolbar color="primary" class="navbar">
    <div>
        <a href="http://localhost:4200/" >CodeX</a>
    </div>  
    <div>
       <div *ngIf="loggedin ; then lg ; else lo;"> </div>
          <ng-template #lg>
                <button mat-raised-button (click)="opendialoglogin()" color="accent" class="c1">Login</button>
                <button mat-raised-button (click)="opendialogsignin()" color="accent" class="c1">Sign-up</button>
          </ng-template>
          <ng-template #lo>
                <button mat-raised-button (click)="clicklogout()" color="primary"> Logout</button>
          </ng-template>

      
       
        
        
    </div> 
</mat-toolbar> 
