<app-nav></app-nav>
<mat-tab-group mat-stretch-tabs color="primary">
    <mat-tab label="Home">
        <div class="c1"></div>
    </mat-tab>
    <mat-tab label="Developer">
        <div style="width : 675px ;height : 550px;float: left;">
            <img src="assets/img/sarthak.jpg" style="margin-left:130px;margin-top:50px;" class="rounded-circle"
                width="300" height="300"> <br>
            <br><strong style="margin-left:240px;">SARTHAK AGARWAL</strong>
        </div>
        <div style="width : 674px ;height : 550px;float: right;">
            <img src="assets/img/dp.jpg" style="margin-left:130px;margin-top:50px;" class="rounded-circle" width="300"
                height="300"> <br>
            <br><strong style="margin-left:240px;">DIVYANSHU PANDEY</strong>
        </div>
        <div style="width : 674px ;height : 550px;float: right;">
            <img src="assets/img/prashant.jpg" style="margin-left:130px;margin-top:50px;" class="rounded-circle" width="300"
                height="300"> <br>
            <br><strong style="margin-left:240px;">PRASHANT KUMAR SINGH</strong>
        </div>
    </mat-tab>
    <mat-tab label="Features">
        <div style="width : 100% ;height : 550px;float: left;">
            <img style="padding-left:20px;margin:50%;" src="assets/img/assign.jpg"
                style="margin-left:130px;margin-top:50px;" class="rounded" width="300" height="300"> <br>

        </div>
    </mat-tab>
    <mat-tab label="About">
        <div style="width : 100% ;height : 550px;float: left;">
            <h1 style="color:blue;text-align: center;padding-top: 20px;">WELCOME TO CODEX</h1>
            <p style="margin : 20px;">
                CODEX is India's leading assessment and TEST platform. We run assessments to measure employability
                across all domains - from programming to plumbing. CoDeX works with 600+ corporate clients to execute
                entry level and lateral assessments and has access to more than a million candidates through its
                platform. We run 2 million+ assessments each year in 350+ cities; thus, everyday helping our corporate
                clients reduce interview bandwidth using our central assessment platform, helping our institutional
                clients measure and improve employability and helping candidates move ahead on their career path. Our
                vision is to ensure that everyone in the country gets an equal opportunity to build a career. We are the
                visionaries of this space with a strong growth trajectory and an exciting firm to be with. CODEX is part
                of Aon plc (NYSE: AON)
            </p>
        </div>
    </mat-tab>
    <mat-tab label="Contact">
        <div style="width : 100% ;height : 550px;float: left;">
            <div style="width : 33.3% ;height : 100px;float: left;">
                <mat-card>
                    <mat-card-title style="color:blue;">
                        SARTHAK AGARWAL
                    </mat-card-title>
                    <mat-card-content>
                        MOBILE : 9205870126 <br>
                        EMAIL : sarthak.16bcs1031@abes.ac.in <br>
                        ADDRESS : ABES ENGINEERING COLLEGE <br>
                    </mat-card-content>
                </mat-card>
            </div>
            <div style="width : 33.3% ;height : 100px;float: left;">
                <mat-card>
                    <mat-card-title style="color:blue;">
                        DIVYANSHU PANDEY
                    </mat-card-title>
                    <mat-card-content>
                        MOBILE : 9205870126 <br>
                        EMAIL : sarthak.16bcs1031@abes.ac.in <br>
                        ADDRESS : ABES ENGINEERING COLLEGE <br>
                    </mat-card-content>
                </mat-card>
            </div>
            <div style="width : 33.3% ;height : 100px;float: left;">
                <mat-card>
                    <mat-card-title style="color:blue;">
                        PRASHANT KUMAR SINGH
                    </mat-card-title>
                    <mat-card-content>
                        MOBILE : 7726925556 <br>
                        EMAIL : prashant.16bcs1031@abes.ac.in <br>
                        ADDRESS : ABES ENGINEERING COLLEGE <br>
                    </mat-card-content>
                </mat-card>
            </div>


        </div>
    </mat-tab>
</mat-tab-group>
<div class="c1"></div>